body{
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  height: 100%;
}

/* navigation div/flexbox*/
.navigation {
  display: flex;
  margin-left: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* navigation buttons (home, general, contact)*/
.nav-b {
  margin-left: 30px;
  font-size: 20px;
  color: #232323;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border-width: 0px;
}

.nav-b:hover {
  cursor: pointer;
}

/*whole header div*/
.header {
  display: flex;
  background-color: 	beige;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(44, 40, 40);
}
/*whole introduction div (paragraphs and portrait flexbox) */
.introduction {
  padding-left: 100px;
  padding-top: 80px;
  font-size: 90px;
  color: #232323;
  font-family: "Abril Fatface", serif;
  background-color: #D9D7B6;
  padding-bottom: 70px;
  margin-bottom: 0px;
  display: flex;
  width: 100%;
}
/*first introduction paragraph ("hello im samuel")*/
.introduction p:first-child {
    margin: 0px;
    line-height: 90px;
    margin-top: 170px;
}
/*second introduction paragraph ("welcome to...")*/
.introduction p:nth-child(2) {
  margin-top: 7px;
  font-size: 22px;
}


.portrait {
  height: 450px;
  width: 450px;
  padding-left: 360px;
  
}
/*whole general div*/
.general-page {
  background-color: #3b444b;
  padding-bottom: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
/*about me div*/
.about-me {
  margin-bottom: 0px;
  width: 100%;
}
/*about me title*/
.about-me p:first-child {
  font-size: 90px;
  height: 100px;
  color: #D9D7B6;
  font-family: "Abril Fatface", serif;
  margin-top: 0px;
  padding-top: 30px;
  padding-left: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
}
/* about me description*/
.about-me p:nth-child(2) {
  font-size: 15px;
  font-weight: 100;
  padding-left: 100px;
  margin-top: 5px;
  color: #8e8e8b;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  word-spacing: 2px;
  width: 600px;

}
/*education title */
.education p:first-child {
  font-size: 70px;
  height: 100px;
  color: #D9D7B6;
  font-family: "Abril Fatface", serif;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
}
/*education years*/ 
.education p:nth-child(2), p:nth-child(4) {
  font-size: 15px;
  font-weight: 100;
  padding-left: 100px;
  margin-top: 0px;
  color: #D9D7B6;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  word-spacing: 3px;
  margin-bottom: 2px;
}
/*education schools/desc*/ 
.education p:nth-child(3), p:nth-child(5) {
  font-size: 15px;
  font-weight: 100;
  padding-left: 100px;
  margin-top: 0px;
  color: #8e8e8b;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  word-spacing: 3px;
}

/*hobbies title*/ 
.hobbies p:first-child {
  font-size: 90px;
  height: 100px;
  color: #D9D7B6;
  font-family: "Abril Fatface", serif;
  margin-top: 0px;
  padding-top: 30px;
  padding-left: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/*hobbies desc*/ 
.hobbies p:nth-child(2) {
  font-size: 15px;
  font-weight: 100;
  padding-left: 15px;
  margin-top: 5px;
  color: #8e8e8b;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  word-spacing: 2px;
  width: 650px;

}


/*whole contact me div*/ 
.contact {
  background-color: #D9D7B6;
  padding-bottom: 20px;
  display: flex;
  width: 100%;
}


/*contact me title*/ 
.title p:first-child {
  margin: 0px;
  font-size: 90px;
  height: 100px;
  color: #232323;
  font-family: "Abril Fatface", serif;
  margin-top: 0px;
  padding-top: px;
  padding-left: 70px;
  margin-bottom: 0px;
  padding-bottom: 0px;
} 
.contacts {
  font-size: 15px;
  font-weight: 100;
  padding-left: 80px;
  margin-top: 21px;
  color: #3c3b3b;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  word-spacing: 2px;
  width: 650px;
  margin-bottom: 2px;
  
}

.contact img {
  height: 80px;
  margin-left: 650px;
  margin-top: 25px;
  border-radius: 25px;

}






